{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <nav class='header-nav'>
                <ul class="header-lis">
                    <li><a href="{% url 'main:home' %}" class="header-logo"><img src="{% static 'img/logo.jpg' %}" class="header-logo-img" alt="logo"></a></li>
                    <li>
                        <a href="#" class="nav-a">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-a">Shop</a>
                    </li>
                </ul>
            </nav>
            <div class="header-profile d-flex">
                <div class="header-top-phone">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <a href="tel:+1234567890">+123-456-78-90</a>
                </div>
                <div class="header-top-icons d-flex">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            en
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">ru</a></li>
                        </ul>
                      </div>
                </div>
                <a href="#" class="cart"><img src="{% static 'img/cart_v2.png' %}" class="cart-img" alt="cart"></a>
                {% if user.is_authenticated %}
                    <a href="#" class="profile">Profile</a>
                    <p> | </p>
                    <a href="#" class="logout">Logout</a>
                {% else %}
                    <a href="#" class="profile">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>