{% extends "main/base.html" %}
{% load static %}

{% block title %}    
Celestial
{% endblock title %}


{% block content %}
    <section class="home d-flex flex-column">
            <div class="home-title">
                <p>moving text</p>
            </div>
            <div class="home-recomendations">
                <h3>Popula Celestial</h3>
            </div>
            <div class="home-cards d-flex gap-4">

            </div>
    </section>
    <img src="{% static 'img/planets_v2.jpg' %}" class="bottom-img" alt="--">
{% endblock content %}

    
