{% extends "main/base.html" %}
{% load static %}

{% block title %}    
Celestial
{% endblock title %}


{% block content %}
    <div class="home d-flex flex-column">
            <div class="home-title">
                <p>Today it’s worth thinking about the global, think well and choose your place in this galaxy!</p>
                <p>don't forget to look at the price!</p>
            </div>
            <div class="home-recomendations">
                <h3>Popular Celestial</h3>
            </div>
            <div class="home-cards d-flex gap-4">

            </div>
    </div>
{% endblock content %}

    
